In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/pvt-bank-v/PVT_BANK_TOTAL_SEP3.xlsx

In [2]:
df = pd.read_excel("/kaggle/input/pvt-bank-v/PVT_BANK_TOTAL_SEP3.xlsx")
df

,Name,LTP,PE,MKT_cap,PB,ROA,ROE,Ind PE,PROMOTER,3Yrs_PE,1Yr_return_%,3mth_return_%,6mth_return_%,CMP / FCF,3Yrs_return_%,5Yrs_return_%,Opert_Prft_Gwth %
0,Utkarsh Small F.,48.00,13.01,5260.34,NaN,2.37,22.64,13.14,69.28,11.08,NaN,NaN,NaN,6.30,NaN,NaN,75.63
1,T N Merc. Bank,546.90,8.20,8660.24,1.25,1.86,16.78,13.14,0.00,6.86,NaN,31.97,20.30,-30.66,NaN,NaN,20.95
2,Suryoday Small,176.20,15.91,1870.55,1.18,0.86,5.03,13.14,23.30,22.44,75.06,12.48,73.77,-3.68,NaN,NaN,115.82
3,Equitas Sma. Fin,88.80,14.84,9912.59,1.91,1.85,12.20,13.14,0.00,17.66,94.31,1.78,21.15,37.04,NaN,NaN,45.21
4,Ujjivan Small,48.80,7.81,9540.65,2.38,3.87,31.39,13.14,73.67,16.58,134.62,35.56,77.78,4.75,11.45,NaN,272.25
5,AU Small Finance,725.65,31.33,48473.42,4.41,1.79,15.45,13.14,25.53,32.04,12.47,-3.37,16.19,8.72,28.21,15.14,42.30
6,South Ind.Bank,23.25,5.64,4865.62,0.73,0.75,12.37,13.14,0.00,10.97,185.28,23.67,28.45,4.18,47.13,6.78,34.11
7,Kotak Mah. Bank,1771.10,21.57,351997.46,3.15,2.56,14.24,13.14,25.94,31.17,-7.70,-7.99,1.15,105.05,8.24,7.09,6.69
8,J & K Bank,88.90,6.33,8547.56,0.86,0.85,13.13,13.14,63.41,4.62,185.85,53.14,70.80,-11.28,71.42,10.98,38.21
9,HDFC Bank,1574.70,18.00,1191486.25,3.04,1.98,17.11,13.14,0.00,21.88,6.00,-1.85,-3.23,81.22,11.67,8.95,41.63
10,ICICI Bank,968.70,18.19,678146.20,3.15,1.91,17.15,13.14,0.00,22.56,11.04,2.32,11.63,10.89,36.28,24.15,124.64
11,Axis Bank,991.15,13.38,305363.53,2.35,1.43,14.54,13.14,8.19,18.91,32.12,4.24,15.32,15.49,27.79,9.08,48.15
12,IndusInd Bank,1416.55,13.90,109985.89,2.30,1.84,15.49,13.14,15.88,17.20,28.69,8.81,26.41,6.93,30.88,-5.26,47.81
13,Federal Bank,143.80,9.91,33785.15,1.38,1.30,15.29,13.14,0.00,10.19,20.28,12.96,7.19,33.79,37.18,13.31,42.97
14,IDFC First Bank,93.40,22.69,61974.27,2.39,1.16,10.59,13.14,39.93,23.14,92.38,26.73,63.43,10.27,43.29,15.75,56.25
15,CSB Bank,327.25,10.05,5677.32,1.77,2.01,18.69,13.14,49.72,10.38,51.57,19.20,38.17,6.69,12.46,NaN,8.71
16,Karnataka Bank,218.10,4.75,6820.90,0.83,1.24,15.42,13.14,0.00,4.50,196.53,43.49,44.06,4.54,67.57,15.69,37.47
17,DCB Bank,117.25,7.38,3657.25,0.80,0.96,10.82,13.14,14.82,9.25,26.48,-2.33,3.67,-5.89,8.62,-7.25,29.97
18,City Union Bank,125.60,9.90,9299.63,1.25,1.46,13.35,13.14,0.00,16.28,-30.26,0.20,-11.77,13.85,-4.74,-7.75,23.38
19,Dhanlaxmi Bank,23.80,5.79,602.17,0.67,0.36,5.48,13.14,0.00,11.02,91.94,38.78,46.01,-9.82,20.21,9.53,28.03
20,RBL Bank,238.05,14.75,14299.32,1.05,0.80,6.74,13.14,0.00,14.13,95.28,37.44,43.49,18.05,7.28,-17.10,43.38
21,IDBI Bank,60.05,15.50,64568.18,1.39,1.18,8.34,13.14,94.71,19.78,39.00,7.42,22.05,36.12,15.33,0.10,39.41
22,Yes Bank,17.35,64.93,49893.06,1.25,0.22,1.99,13.14,0.00,42.64,7.10,7.43,2.66,2.89,5.92,-44.65,14.49
23,Bandhan Bank,235.10,18.66,37871.43,1.93,1.49,11.88,13.14,39.99,20.84,-14.85,-10.78,1.23,-22.31,-9.09,-18.11,97.90
24,Karur Vysya Bank,121.75,7.90,9768.99,1.28,1.38,14.56,13.14,2.24,9.12,77.09,12.42,17.24,6.26,46.09,5.76,17.33

In [3]:
df.columns

Index(['Name', 'LTP', 'PE', 'MKT_cap', 'PB', 'ROA', 'ROE', 'Ind PE',
       'PROMOTER', '3Yrs_PE', '1Yr_return_%', '3mth_return_%', '6mth_return_%',
       'CMP / FCF', '3Yrs_return_%', '5Yrs_return_%', 'Opert_Prft_Gwth %'],
      dtype='object')

# **TARGET 1 : UNSPECIFIED TIME PERIOD**

**Objective : To get a broader view and overwhelmingly optimistic target for a scrip**

Target_one = (Ind PE + CMP/FCF ) * CMP

In [4]:
df['Target_one'] = round(((df['Ind PE'] - df['PE']) + df['CMP / FCF'])*df['LTP'],2)
df

,Name,LTP,PE,MKT_cap,PB,ROA,ROE,Ind PE,PROMOTER,3Yrs_PE,1Yr_return_%,3mth_return_%,6mth_return_%,CMP / FCF,3Yrs_return_%,5Yrs_return_%,Opert_Prft_Gwth %,Target_one
0,Utkarsh Small F.,48.00,13.01,5260.34,NaN,2.37,22.64,13.14,69.28,11.08,NaN,NaN,NaN,6.30,NaN,NaN,75.63,308.64
1,T N Merc. Bank,546.90,8.20,8660.24,1.25,1.86,16.78,13.14,0.00,6.86,NaN,31.97,20.30,-30.66,NaN,NaN,20.95,-14066.27
2,Suryoday Small,176.20,15.91,1870.55,1.18,0.86,5.03,13.14,23.30,22.44,75.06,12.48,73.77,-3.68,NaN,NaN,115.82,-1136.49
3,Equitas Sma. Fin,88.80,14.84,9912.59,1.91,1.85,12.20,13.14,0.00,17.66,94.31,1.78,21.15,37.04,NaN,NaN,45.21,3138.19
4,Ujjivan Small,48.80,7.81,9540.65,2.38,3.87,31.39,13.14,73.67,16.58,134.62,35.56,77.78,4.75,11.45,NaN,272.25,491.90
5,AU Small Finance,725.65,31.33,48473.42,4.41,1.79,15.45,13.14,25.53,32.04,12.47,-3.37,16.19,8.72,28.21,15.14,42.30,-6871.91
6,South Ind.Bank,23.25,5.64,4865.62,0.73,0.75,12.37,13.14,0.00,10.97,185.28,23.67,28.45,4.18,47.13,6.78,34.11,271.56
7,Kotak Mah. Bank,1771.10,21.57,351997.46,3.15,2.56,14.24,13.14,25.94,31.17,-7.70,-7.99,1.15,105.05,8.24,7.09,6.69,171123.68
8,J & K Bank,88.90,6.33,8547.56,0.86,0.85,13.13,13.14,63.41,4.62,185.85,53.14,70.80,-11.28,71.42,10.98,38.21,-397.38
9,HDFC Bank,1574.70,18.00,1191486.25,3.04,1.98,17.11,13.14,0.00,21.88,6.00,-1.85,-3.23,81.22,11.67,8.95,41.63,120244.09
10,ICICI Bank,968.70,18.19,678146.20,3.15,1.91,17.15,13.14,0.00,22.56,11.04,2.32,11.63,10.89,36.28,24.15,124.64,5657.21
11,Axis Bank,991.15,13.38,305363.53,2.35,1.43,14.54,13.14,8.19,18.91,32.12,4.24,15.32,15.49,27.79,9.08,48.15,15115.04
12,IndusInd Bank,1416.55,13.90,109985.89,2.30,1.84,15.49,13.14,15.88,17.20,28.69,8.81,26.41,6.93,30.88,-5.26,47.81,8740.11
13,Federal Bank,143.80,9.91,33785.15,1.38,1.30,15.29,13.14,0.00,10.19,20.28,12.96,7.19,33.79,37.18,13.31,42.97,5323.48
14,IDFC First Bank,93.40,22.69,61974.27,2.39,1.16,10.59,13.14,39.93,23.14,92.38,26.73,63.43,10.27,43.29,15.75,56.25,67.25
15,CSB Bank,327.25,10.05,5677.32,1.77,2.01,18.69,13.14,49.72,10.38,51.57,19.20,38.17,6.69,12.46,NaN,8.71,3200.51
16,Karnataka Bank,218.10,4.75,6820.90,0.83,1.24,15.42,13.14,0.00,4.50,196.53,43.49,44.06,4.54,67.57,15.69,37.47,2820.03
17,DCB Bank,117.25,7.38,3657.25,0.80,0.96,10.82,13.14,14.82,9.25,26.48,-2.33,3.67,-5.89,8.62,-7.25,29.97,-15.24
18,City Union Bank,125.60,9.90,9299.63,1.25,1.46,13.35,13.14,0.00,16.28,-30.26,0.20,-11.77,13.85,-4.74,-7.75,23.38,2146.50
19,Dhanlaxmi Bank,23.80,5.79,602.17,0.67,0.36,5.48,13.14,0.00,11.02,91.94,38.78,46.01,-9.82,20.21,9.53,28.03,-58.79
20,RBL Bank,238.05,14.75,14299.32,1.05,0.80,6.74,13.14,0.00,14.13,95.28,37.44,43.49,18.05,7.28,-17.10,43.38,3913.54
21,IDBI Bank,60.05,15.50,64568.18,1.39,1.18,8.34,13.14,94.71,19.78,39.00,7.42,22.05,36.12,15.33,0.10,39.41,2027.29
22,Yes Bank,17.35,64.93,49893.06,1.25,0.22,1.99,13.14,0.00,42.64,7.10,7.43,2.66,2.89,5.92,-44.65,14.49,-848.42
23,Bandhan Bank,235.10,18.66,37871.43,1.93,1.49,11.88,13.14,39.99,20.84,-14.85,-10.78,1.23,-22.31,-9.09,-18.11,97.90,-6542.83
24,Karur Vysya Bank,121.75,7.90,9768.99,1.28,1.38,14.56,13.14,2.24,9.12,77.09,12.42,17.24,6.26,46.09,5.76,17.33,1400.12

# **Target 2 : Foresing only Micro Economic factors**

**Objective : To take only those factors which affect scrips individually and not across the sector**

**Adjusted Return to Shareholder : ROE/PB**

In [5]:
df['Adjusted_return_to_shareholder'] = round(df['ROE']/df['PB'],2)

**Calculating Flexibility**

In [6]:
promotor_distribution = df['PROMOTER'].quantile([0.25,0.50,0.75])
promotor_distribution

0.25     0.00
0.50     8.19
0.75    39.93
Name: PROMOTER, dtype: float64

In [7]:
flexibility_index = []
for holding in df['PROMOTER']:
    if holding <= 0.00:
        flexibility_index.append(int(1))
    elif 0.00 < holding <= 8.19:
        flexibility_index.append(int(2))
    elif 8.19 < holding <= 39.93:
        flexibility_index.append(int(3))
    elif 39.93 < holding <= 59.00:
        flexibility_index.append(int(4))
    else:
        flexibility_index.append(int(10))

In [8]:
df['Flexibilty'] = flexibility_index

**CR = CMP(1 + r/n)^nt**

In [9]:
# pre defined varaibles 
# n = 12
# t= 1
df['Target_two'] = round(df['LTP']*((1+(df['3mth_return_%']+df['Adjusted_return_to_shareholder'])/(4*100))**(4*1)),2)

In [10]:
df

,Name,LTP,PE,MKT_cap,PB,ROA,ROE,Ind PE,PROMOTER,3Yrs_PE,...,3mth_return_%,6mth_return_%,CMP / FCF,3Yrs_return_%,5Yrs_return_%,Opert_Prft_Gwth %,Target_one,Adjusted_return_to_shareholder,Flexibilty,Target_two
0,Utkarsh Small F.,48.00,13.01,5260.34,NaN,2.37,22.64,13.14,69.28,11.08,...,NaN,NaN,6.30,NaN,NaN,75.63,308.64,NaN,10,NaN
1,T N Merc. Bank,546.90,8.20,8660.24,1.25,1.86,16.78,13.14,0.00,6.86,...,31.97,20.30,-30.66,NaN,NaN,20.95,-14066.27,13.42,1,840.68
2,Suryoday Small,176.20,15.91,1870.55,1.18,0.86,5.03,13.14,23.30,22.44,...,12.48,73.77,-3.68,NaN,NaN,115.82,-1136.49,4.26,3,207.60
3,Equitas Sma. Fin,88.80,14.84,9912.59,1.91,1.85,12.20,13.14,0.00,17.66,...,1.78,21.15,37.04,NaN,NaN,45.21,3138.19,6.39,1,96.28
4,Ujjivan Small,48.80,7.81,9540.65,2.38,3.87,31.39,13.14,73.67,16.58,...,35.56,77.78,4.75,11.45,NaN,272.25,491.90,13.19,10,77.30
5,AU Small Finance,725.65,31.33,48473.42,4.41,1.79,15.45,13.14,25.53,32.04,...,-3.37,16.19,8.72,28.21,15.14,42.30,-6871.91,3.50,3,726.59
6,South Ind.Bank,23.25,5.64,4865.62,0.73,0.75,12.37,13.14,0.00,10.97,...,23.67,28.45,4.18,47.13,6.78,34.11,271.56,16.95,1,34.23
7,Kotak Mah. Bank,1771.10,21.57,351997.46,3.15,2.56,14.24,13.14,25.94,31.17,...,-7.99,1.15,105.05,8.24,7.09,6.69,171123.68,4.52,3,1710.44
8,J & K Bank,88.90,6.33,8547.56,0.86,0.85,13.13,13.14,63.41,4.62,...,53.14,70.80,-11.28,71.42,10.98,38.21,-397.38,15.27,10,167.17
9,HDFC Bank,1574.70,18.00,1191486.25,3.04,1.98,17.11,13.14,0.00,21.88,...,-1.85,-3.23,81.22,11.67,8.95,41.63,120244.09,5.63,1,1635.07
10,ICICI Bank,968.70,18.19,678146.20,3.15,1.91,17.15,13.14,0.00,22.56,...,2.32,11.63,10.89,36.28,24.15,124.64,5657.21,5.44,1,1046.09
11,Axis Bank,991.15,13.38,305363.53,2.35,1.43,14.54,13.14,8.19,18.91,...,4.24,15.32,15.49,27.79,9.08,48.15,15115.04,6.19,2,1098.64
12,IndusInd Bank,1416.55,13.90,109985.89,2.30,1.84,15.49,13.14,15.88,17.20,...,8.81,26.41,6.93,30.88,-5.26,47.81,8740.11,6.73,3,1649.85
13,Federal Bank,143.80,9.91,33785.15,1.38,1.30,15.29,13.14,0.00,10.19,...,12.96,7.19,33.79,37.18,13.31,42.97,5323.48,11.08,1,181.61
14,IDFC First Bank,93.40,22.69,61974.27,2.39,1.16,10.59,13.14,39.93,23.14,...,26.73,63.43,10.27,43.29,15.75,56.25,67.25,4.43,3,126.08
15,CSB Bank,327.25,10.05,5677.32,1.77,2.01,18.69,13.14,49.72,10.38,...,19.20,38.17,6.69,12.46,NaN,8.71,3200.51,10.56,4,436.06
16,Karnataka Bank,218.10,4.75,6820.90,0.83,1.24,15.42,13.14,0.00,4.50,...,43.49,44.06,4.54,67.57,15.69,37.47,2820.03,18.58,1,388.37
17,DCB Bank,117.25,7.38,3657.25,0.80,0.96,10.82,13.14,14.82,9.25,...,-2.33,3.67,-5.89,8.62,-7.25,29.97,-15.24,13.52,3,130.93
18,City Union Bank,125.60,9.90,9299.63,1.25,1.46,13.35,13.14,0.00,16.28,...,0.20,-11.77,13.85,-4.74,-7.75,23.38,2146.50,10.68,1,139.83
19,Dhanlaxmi Bank,23.80,5.79,602.17,0.67,0.36,5.48,13.14,0.00,11.02,...,38.78,46.01,-9.82,20.21,9.53,28.03,-58.79,8.18,1,37.10
20,RBL Bank,238.05,14.75,14299.32,1.05,0.80,6.74,13.14,0.00,14.13,...,37.44,43.49,18.05,7.28,-17.10,43.38,3913.54,6.42,1,360.92
21,IDBI Bank,60.05,15.50,64568.18,1.39,1.18,8.34,13.14,94.71,19.78,...,7.42,22.05,36.12,15.33,0.10,39.41,2027.29,6.00,10,68.52
22,Yes Bank,17.35,64.93,49893.06,1.25,0.22,1.99,13.14,0.00,42.64,...,7.43,2.66,2.89,5.92,-44.65,14.49,-848.42,1.59,1,18.97
23,Bandhan Bank,235.10,18.66,37871.43,1.93,1.49,11.88,13.14,39.99,20.84,...,-10.78,1.23,-22.31,-9.09,-18.11,97.90,-6542.83,6.16,4,224.43
24,Karur Vysya Bank,121.75,7.90,9768.99,1.28,1.38,14.56,13.14,2.24,9.12,...,12.42,17.24,6.26,46.09,5.76,17.33,1400.12,11.38,2,153.42

In [11]:
operating_profit = df.iloc[:,16:17]
operating_profit.columns = ['Operating_Profit_growth']

# **Target 3 : Foresing all the Macro Economic Indicators**

In [12]:
## Pre defined variables
count_of_rate_hikes = 2 
N = 3
inflation_rate = 0.067 ## RBI DATA
sector_growth_rate = 0.08 ## Mordor Intelligence DATA
lambda_ = 0.80

df['Target_three'] = round(((operating_profit['Operating_Profit_growth']/100 + 1)**(N - count_of_rate_hikes))*(df['LTP']*(1+(inflation_rate)*(lambda_)+sector_growth_rate)),2)
df

,Name,LTP,PE,MKT_cap,PB,ROA,ROE,Ind PE,PROMOTER,3Yrs_PE,...,6mth_return_%,CMP / FCF,3Yrs_return_%,5Yrs_return_%,Opert_Prft_Gwth %,Target_one,Adjusted_return_to_shareholder,Flexibilty,Target_two,Target_three
0,Utkarsh Small F.,48.00,13.01,5260.34,NaN,2.37,22.64,13.14,69.28,11.08,...,NaN,6.30,NaN,NaN,75.63,308.64,NaN,10,NaN,95.57
1,T N Merc. Bank,546.90,8.20,8660.24,1.25,1.86,16.78,13.14,0.00,6.86,...,20.30,-30.66,NaN,NaN,20.95,-14066.27,13.42,1,840.68,749.85
2,Suryoday Small,176.20,15.91,1870.55,1.18,0.86,5.03,13.14,23.30,22.44,...,73.77,-3.68,NaN,NaN,115.82,-1136.49,4.26,3,207.60,431.08
3,Equitas Sma. Fin,88.80,14.84,9912.59,1.91,1.85,12.20,13.14,0.00,17.66,...,21.15,37.04,NaN,NaN,45.21,3138.19,6.39,1,96.28,146.17
4,Ujjivan Small,48.80,7.81,9540.65,2.38,3.87,31.39,13.14,73.67,16.58,...,77.78,4.75,11.45,NaN,272.25,491.90,13.19,10,77.30,205.93
5,AU Small Finance,725.65,31.33,48473.42,4.41,1.79,15.45,13.14,25.53,32.04,...,16.19,8.72,28.21,15.14,42.30,-6871.91,3.50,3,726.59,1170.56
6,South Ind.Bank,23.25,5.64,4865.62,0.73,0.75,12.37,13.14,0.00,10.97,...,28.45,4.18,47.13,6.78,34.11,271.56,16.95,1,34.23,35.35
7,Kotak Mah. Bank,1771.10,21.57,351997.46,3.15,2.56,14.24,13.14,25.94,31.17,...,1.15,105.05,8.24,7.09,6.69,171123.68,4.52,3,1710.44,2142.04
8,J & K Bank,88.90,6.33,8547.56,0.86,0.85,13.13,13.14,63.41,4.62,...,70.80,-11.28,71.42,10.98,38.21,-397.38,15.27,10,167.17,139.28
9,HDFC Bank,1574.70,18.00,1191486.25,3.04,1.98,17.11,13.14,0.00,21.88,...,-3.23,81.22,11.67,8.95,41.63,120244.09,5.63,1,1635.07,2528.21
10,ICICI Bank,968.70,18.19,678146.20,3.15,1.91,17.15,13.14,0.00,22.56,...,11.63,10.89,36.28,24.15,124.64,5657.21,5.44,1,1046.09,2466.81
11,Axis Bank,991.15,13.38,305363.53,2.35,1.43,14.54,13.14,8.19,18.91,...,15.32,15.49,27.79,9.08,48.15,15115.04,6.19,2,1098.64,1664.57
12,IndusInd Bank,1416.55,13.90,109985.89,2.30,1.84,15.49,13.14,15.88,17.20,...,26.41,6.93,30.88,-5.26,47.81,8740.11,6.73,3,1649.85,2373.53
13,Federal Bank,143.80,9.91,33785.15,1.38,1.30,15.29,13.14,0.00,10.19,...,7.19,33.79,37.18,13.31,42.97,5323.48,11.08,1,181.61,233.06
14,IDFC First Bank,93.40,22.69,61974.27,2.39,1.16,10.59,13.14,39.93,23.14,...,63.43,10.27,43.29,15.75,56.25,67.25,4.43,3,126.08,165.43
15,CSB Bank,327.25,10.05,5677.32,1.77,2.01,18.69,13.14,49.72,10.38,...,38.17,6.69,12.46,NaN,8.71,3200.51,10.56,4,436.06,403.28
16,Karnataka Bank,218.10,4.75,6820.90,0.83,1.24,15.42,13.14,0.00,4.50,...,44.06,4.54,67.57,15.69,37.47,2820.03,18.58,1,388.37,339.88
17,DCB Bank,117.25,7.38,3657.25,0.80,0.96,10.82,13.14,14.82,9.25,...,3.67,-5.89,8.62,-7.25,29.97,-15.24,13.52,3,130.93,172.75
18,City Union Bank,125.60,9.90,9299.63,1.25,1.46,13.35,13.14,0.00,16.28,...,-11.77,13.85,-4.74,-7.75,23.38,2146.50,10.68,1,139.83,175.67
19,Dhanlaxmi Bank,23.80,5.79,602.17,0.67,0.36,5.48,13.14,0.00,11.02,...,46.01,-9.82,20.21,9.53,28.03,-58.79,8.18,1,37.10,34.54
20,RBL Bank,238.05,14.75,14299.32,1.05,0.80,6.74,13.14,0.00,14.13,...,43.49,18.05,7.28,-17.10,43.38,3913.54,6.42,1,360.92,386.92
21,IDBI Bank,60.05,15.50,64568.18,1.39,1.18,8.34,13.14,94.71,19.78,...,22.05,36.12,15.33,0.10,39.41,2027.29,6.00,10,68.52,94.90
22,Yes Bank,17.35,64.93,49893.06,1.25,0.22,1.99,13.14,0.00,42.64,...,2.66,2.89,5.92,-44.65,14.49,-848.42,1.59,1,18.97,22.52
23,Bandhan Bank,235.10,18.66,37871.43,1.93,1.49,11.88,13.14,39.99,20.84,...,1.23,-22.31,-9.09,-18.11,97.90,-6542.83,6.16,4,224.43,527.42
24,Karur Vysya Bank,121.75,7.90,9768.99,1.28,1.38,14.56,13.14,2.24,9.12,...,17.24,6.26,46.09,5.76,17.33,1400.12,11.38,2,153.42,161.93

**NOW THE THING IS THAT ASSET QUALITY IS ANALYZED WITH MULTIPLE FACTORS KEEPING IN MIND SUCH AS PROVISIONS AND CONTANGENCIES WHICH REQUIRES MAN-MADE INTERVENTION.**

**THE CONSTANT ALLOCATION WILL BE DONE BY KEEPING IN MIND THE SUMMED UP EXPECTATION OF EACH SCRIP**

**TARGET_ONE EXPECTATION : 0.025,**
**TARGET_TWO EXPECTATION : 0.125,**
**TARGET_THREE EXPECTATION : 0.85,**

****

In [14]:
df['Final_Target'] = round(df['Target_one']*(0.025) + df['Target_two']*(0.125) + df['Target_three']*(0.85), 2)

In [15]:
df['Expectation%'] = round((df['Final_Target'] - df['LTP'])*100/df['LTP'],2)

In [16]:
final_df = df.sort_values('Expectation%', ascending=False)
final_df

,Name,LTP,PE,MKT_cap,PB,ROA,ROE,Ind PE,PROMOTER,3Yrs_PE,...,3Yrs_return_%,5Yrs_return_%,Opert_Prft_Gwth %,Target_one,Adjusted_return_to_shareholder,Flexibilty,Target_two,Target_three,Final_Target,Expectation%
4,Ujjivan Small,48.80,7.81,9540.65,2.38,3.87,31.39,13.14,73.67,16.58,...,11.45,NaN,272.25,491.90,13.19,10,77.30,205.93,197.00,303.69
7,Kotak Mah. Bank,1771.10,21.57,351997.46,3.15,2.56,14.24,13.14,25.94,31.17,...,8.24,7.09,6.69,171123.68,4.52,3,1710.44,2142.04,6312.63,256.42
9,HDFC Bank,1574.70,18.00,1191486.25,3.04,1.98,17.11,13.14,0.00,21.88,...,11.67,8.95,41.63,120244.09,5.63,1,1635.07,2528.21,5359.46,240.35
13,Federal Bank,143.80,9.91,33785.15,1.38,1.30,15.29,13.14,0.00,10.19,...,37.18,13.31,42.97,5323.48,11.08,1,181.61,233.06,353.89,146.10
10,ICICI Bank,968.70,18.19,678146.20,3.15,1.91,17.15,13.14,0.00,22.56,...,36.28,24.15,124.64,5657.21,5.44,1,1046.09,2466.81,2368.98,144.55
3,Equitas Sma. Fin,88.80,14.84,9912.59,1.91,1.85,12.20,13.14,0.00,17.66,...,NaN,NaN,45.21,3138.19,6.39,1,96.28,146.17,214.73,141.81
21,IDBI Bank,60.05,15.50,64568.18,1.39,1.18,8.34,13.14,94.71,19.78,...,15.33,0.10,39.41,2027.29,6.00,10,68.52,94.90,139.91,132.99
2,Suryoday Small,176.20,15.91,1870.55,1.18,0.86,5.03,13.14,23.30,22.44,...,NaN,NaN,115.82,-1136.49,4.26,3,207.60,431.08,363.96,106.56
20,RBL Bank,238.05,14.75,14299.32,1.05,0.80,6.74,13.14,0.00,14.13,...,7.28,-17.10,43.38,3913.54,6.42,1,360.92,386.92,471.84,98.21
11,Axis Bank,991.15,13.38,305363.53,2.35,1.43,14.54,13.14,8.19,18.91,...,27.79,9.08,48.15,15115.04,6.19,2,1098.64,1664.57,1930.09,94.73
16,Karnataka Bank,218.10,4.75,6820.90,0.83,1.24,15.42,13.14,0.00,4.50,...,67.57,15.69,37.47,2820.03,18.58,1,388.37,339.88,407.94,87.04
6,South Ind.Bank,23.25,5.64,4865.62,0.73,0.75,12.37,13.14,0.00,10.97,...,47.13,6.78,34.11,271.56,16.95,1,34.23,35.35,41.12,76.86
18,City Union Bank,125.60,9.90,9299.63,1.25,1.46,13.35,13.14,0.00,16.28,...,-4.74,-7.75,23.38,2146.50,10.68,1,139.83,175.67,220.46,75.53
12,IndusInd Bank,1416.55,13.90,109985.89,2.30,1.84,15.49,13.14,15.88,17.20,...,30.88,-5.26,47.81,8740.11,6.73,3,1649.85,2373.53,2442.23,72.41
14,IDFC First Bank,93.40,22.69,61974.27,2.39,1.16,10.59,13.14,39.93,23.14,...,43.29,15.75,56.25,67.25,4.43,3,126.08,165.43,158.06,69.23
24,Karur Vysya Bank,121.75,7.90,9768.99,1.28,1.38,14.56,13.14,2.24,9.12,...,46.09,5.76,17.33,1400.12,11.38,2,153.42,161.93,191.82,57.55
15,CSB Bank,327.25,10.05,5677.32,1.77,2.01,18.69,13.14,49.72,10.38,...,12.46,NaN,8.71,3200.51,10.56,4,436.06,403.28,477.31,45.85
8,J & K Bank,88.90,6.33,8547.56,0.86,0.85,13.13,13.14,63.41,4.62,...,71.42,10.98,38.21,-397.38,15.27,10,167.17,139.28,129.35,45.50
17,DCB Bank,117.25,7.38,3657.25,0.80,0.96,10.82,13.14,14.82,9.25,...,8.62,-7.25,29.97,-15.24,13.52,3,130.93,172.75,162.82,38.87
19,Dhanlaxmi Bank,23.80,5.79,602.17,0.67,0.36,5.48,13.14,0.00,11.02,...,20.21,9.53,28.03,-58.79,8.18,1,37.10,34.54,32.53,36.68
23,Bandhan Bank,235.10,18.66,37871.43,1.93,1.49,11.88,13.14,39.99,20.84,...,-9.09,-18.11,97.90,-6542.83,6.16,4,224.43,527.42,312.79,33.05
5,AU Small Finance,725.65,31.33,48473.42,4.41,1.79,15.45,13.14,25.53,32.04,...,28.21,15.14,42.30,-6871.91,3.50,3,726.59,1170.56,914.00,25.96
1,T N Merc. Bank,546.90,8.20,8660.24,1.25,1.86,16.78,13.14,0.00,6.86,...,NaN,NaN,20.95,-14066.27,13.42,1,840.68,749.85,390.80,-28.54
22,Yes Bank,17.35,64.93,49893.06,1.25,0.22,1.99,13.14,0.00,42.64,...,5.92,-44.65,14.49,-848.42,1.59,1,18.97,22.52,0.30,-98.27
0,Utkarsh Small F.,48.00,13.01,5260.34,NaN,2.37,22.64,13.14,69.28,11.08,...,NaN,NaN,75.63,308.64,NaN,10,NaN,95.57,NaN,NaN

In [17]:
final_df = final_df.reset_index()
final_df.drop(['index'],axis=1,inplace=True)
final_df

,Name,LTP,PE,MKT_cap,PB,ROA,ROE,Ind PE,PROMOTER,3Yrs_PE,...,3Yrs_return_%,5Yrs_return_%,Opert_Prft_Gwth %,Target_one,Adjusted_return_to_shareholder,Flexibilty,Target_two,Target_three,Final_Target,Expectation%
0,Ujjivan Small,48.80,7.81,9540.65,2.38,3.87,31.39,13.14,73.67,16.58,...,11.45,NaN,272.25,491.90,13.19,10,77.30,205.93,197.00,303.69
1,Kotak Mah. Bank,1771.10,21.57,351997.46,3.15,2.56,14.24,13.14,25.94,31.17,...,8.24,7.09,6.69,171123.68,4.52,3,1710.44,2142.04,6312.63,256.42
2,HDFC Bank,1574.70,18.00,1191486.25,3.04,1.98,17.11,13.14,0.00,21.88,...,11.67,8.95,41.63,120244.09,5.63,1,1635.07,2528.21,5359.46,240.35
3,Federal Bank,143.80,9.91,33785.15,1.38,1.30,15.29,13.14,0.00,10.19,...,37.18,13.31,42.97,5323.48,11.08,1,181.61,233.06,353.89,146.10
4,ICICI Bank,968.70,18.19,678146.20,3.15,1.91,17.15,13.14,0.00,22.56,...,36.28,24.15,124.64,5657.21,5.44,1,1046.09,2466.81,2368.98,144.55
5,Equitas Sma. Fin,88.80,14.84,9912.59,1.91,1.85,12.20,13.14,0.00,17.66,...,NaN,NaN,45.21,3138.19,6.39,1,96.28,146.17,214.73,141.81
6,IDBI Bank,60.05,15.50,64568.18,1.39,1.18,8.34,13.14,94.71,19.78,...,15.33,0.10,39.41,2027.29,6.00,10,68.52,94.90,139.91,132.99
7,Suryoday Small,176.20,15.91,1870.55,1.18,0.86,5.03,13.14,23.30,22.44,...,NaN,NaN,115.82,-1136.49,4.26,3,207.60,431.08,363.96,106.56
8,RBL Bank,238.05,14.75,14299.32,1.05,0.80,6.74,13.14,0.00,14.13,...,7.28,-17.10,43.38,3913.54,6.42,1,360.92,386.92,471.84,98.21
9,Axis Bank,991.15,13.38,305363.53,2.35,1.43,14.54,13.14,8.19,18.91,...,27.79,9.08,48.15,15115.04,6.19,2,1098.64,1664.57,1930.09,94.73
10,Karnataka Bank,218.10,4.75,6820.90,0.83,1.24,15.42,13.14,0.00,4.50,...,67.57,15.69,37.47,2820.03,18.58,1,388.37,339.88,407.94,87.04
11,South Ind.Bank,23.25,5.64,4865.62,0.73,0.75,12.37,13.14,0.00,10.97,...,47.13,6.78,34.11,271.56,16.95,1,34.23,35.35,41.12,76.86
12,City Union Bank,125.60,9.90,9299.63,1.25,1.46,13.35,13.14,0.00,16.28,...,-4.74,-7.75,23.38,2146.50,10.68,1,139.83,175.67,220.46,75.53
13,IndusInd Bank,1416.55,13.90,109985.89,2.30,1.84,15.49,13.14,15.88,17.20,...,30.88,-5.26,47.81,8740.11,6.73,3,1649.85,2373.53,2442.23,72.41
14,IDFC First Bank,93.40,22.69,61974.27,2.39,1.16,10.59,13.14,39.93,23.14,...,43.29,15.75,56.25,67.25,4.43,3,126.08,165.43,158.06,69.23
15,Karur Vysya Bank,121.75,7.90,9768.99,1.28,1.38,14.56,13.14,2.24,9.12,...,46.09,5.76,17.33,1400.12,11.38,2,153.42,161.93,191.82,57.55
16,CSB Bank,327.25,10.05,5677.32,1.77,2.01,18.69,13.14,49.72,10.38,...,12.46,NaN,8.71,3200.51,10.56,4,436.06,403.28,477.31,45.85
17,J & K Bank,88.90,6.33,8547.56,0.86,0.85,13.13,13.14,63.41,4.62,...,71.42,10.98,38.21,-397.38,15.27,10,167.17,139.28,129.35,45.50
18,DCB Bank,117.25,7.38,3657.25,0.80,0.96,10.82,13.14,14.82,9.25,...,8.62,-7.25,29.97,-15.24,13.52,3,130.93,172.75,162.82,38.87
19,Dhanlaxmi Bank,23.80,5.79,602.17,0.67,0.36,5.48,13.14,0.00,11.02,...,20.21,9.53,28.03,-58.79,8.18,1,37.10,34.54,32.53,36.68
20,Bandhan Bank,235.10,18.66,37871.43,1.93,1.49,11.88,13.14,39.99,20.84,...,-9.09,-18.11,97.90,-6542.83,6.16,4,224.43,527.42,312.79,33.05
21,AU Small Finance,725.65,31.33,48473.42,4.41,1.79,15.45,13.14,25.53,32.04,...,28.21,15.14,42.30,-6871.91,3.50,3,726.59,1170.56,914.00,25.96
22,T N Merc. Bank,546.90,8.20,8660.24,1.25,1.86,16.78,13.14,0.00,6.86,...,NaN,NaN,20.95,-14066.27,13.42,1,840.68,749.85,390.80,-28.54
23,Yes Bank,17.35,64.93,49893.06,1.25,0.22,1.99,13.14,0.00,42.64,...,5.92,-44.65,14.49,-848.42,1.59,1,18.97,22.52,0.30,-98.27
24,Utkarsh Small F.,48.00,13.01,5260.34,NaN,2.37,22.64,13.14,69.28,11.08,...,NaN,NaN,75.63,308.64,NaN,10,NaN,95.57,NaN,NaN

**NOW COMES THE CONSTANT ALLOCATION WHICH IS NOTHING BUT DISTRIBUTION OF TOP 5 FLEXIBILITY INDEX VALUE**

In [18]:
series_A = final_df.iloc[0:5,:]
series_A

,Name,LTP,PE,MKT_cap,PB,ROA,ROE,Ind PE,PROMOTER,3Yrs_PE,...,3Yrs_return_%,5Yrs_return_%,Opert_Prft_Gwth %,Target_one,Adjusted_return_to_shareholder,Flexibilty,Target_two,Target_three,Final_Target,Expectation%
0,Ujjivan Small,48.8,7.81,9540.65,2.38,3.87,31.39,13.14,73.67,16.58,...,11.45,NaN,272.25,491.90,13.19,10,77.30,205.93,197.00,303.69
1,Kotak Mah. Bank,1771.1,21.57,351997.46,3.15,2.56,14.24,13.14,25.94,31.17,...,8.24,7.09,6.69,171123.68,4.52,3,1710.44,2142.04,6312.63,256.42
2,HDFC Bank,1574.7,18.00,1191486.25,3.04,1.98,17.11,13.14,0.00,21.88,...,11.67,8.95,41.63,120244.09,5.63,1,1635.07,2528.21,5359.46,240.35
3,Federal Bank,143.8,9.91,33785.15,1.38,1.30,15.29,13.14,0.00,10.19,...,37.18,13.31,42.97,5323.48,11.08,1,181.61,233.06,353.89,146.10
4,ICICI Bank,968.7,18.19,678146.20,3.15,1.91,17.15,13.14,0.00,22.56,...,36.28,24.15,124.64,5657.21,5.44,1,1046.09,2466.81,2368.98,144.55

In [20]:
series_A['Allocation'] = series_A['Flexibilty']/sum(series_A['Flexibilty'])

/tmp/ipykernel_32/3749150819.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series_A['Allocation'] = series_A['Flexibilty']/sum(series_A['Flexibilty'])

In [21]:
series_A

,Name,LTP,PE,MKT_cap,PB,ROA,ROE,Ind PE,PROMOTER,3Yrs_PE,...,5Yrs_return_%,Opert_Prft_Gwth %,Target_one,Adjusted_return_to_shareholder,Flexibilty,Target_two,Target_three,Final_Target,Expectation%,Allocation
0,Ujjivan Small,48.8,7.81,9540.65,2.38,3.87,31.39,13.14,73.67,16.58,...,NaN,272.25,491.90,13.19,10,77.30,205.93,197.00,303.69,0.6250
1,Kotak Mah. Bank,1771.1,21.57,351997.46,3.15,2.56,14.24,13.14,25.94,31.17,...,7.09,6.69,171123.68,4.52,3,1710.44,2142.04,6312.63,256.42,0.1875
2,HDFC Bank,1574.7,18.00,1191486.25,3.04,1.98,17.11,13.14,0.00,21.88,...,8.95,41.63,120244.09,5.63,1,1635.07,2528.21,5359.46,240.35,0.0625
3,Federal Bank,143.8,9.91,33785.15,1.38,1.30,15.29,13.14,0.00,10.19,...,13.31,42.97,5323.48,11.08,1,181.61,233.06,353.89,146.10,0.0625
4,ICICI Bank,968.7,18.19,678146.20,3.15,1.91,17.15,13.14,0.00,22.56,...,24.15,124.64,5657.21,5.44,1,1046.09,2466.81,2368.98,144.55,0.0625

**Let us start with initial allocation of INR 10K**

In [23]:
series_A['Corpus'] = 10000
series_A['Invested_Amount'] = round(series_A['Corpus']*series_A['Allocation'],2)
series_A['Allocated-Shares'] = round(series_A['Invested_Amount']/series_A['LTP'],0)

/tmp/ipykernel_32/3663066154.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series_A['Corpus'] = 10000
/tmp/ipykernel_32/3663066154.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series_A['Invested_Amount'] = round(series_A['Corpus']*series_A['Allocation'],2)
/tmp/ipykernel_32/3663066154.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series_A['Allocated-Shares'] = round(series_A['Invested_Amount']/series_A['LTP'],0)

In [24]:
series_A

,Name,LTP,PE,MKT_cap,PB,ROA,ROE,Ind PE,PROMOTER,3Yrs_PE,...,Adjusted_return_to_shareholder,Flexibilty,Target_two,Target_three,Final_Target,Expectation%,Allocation,Corpus,Invested_Amount,Allocated-Shares
0,Ujjivan Small,48.8,7.81,9540.65,2.38,3.87,31.39,13.14,73.67,16.58,...,13.19,10,77.30,205.93,197.00,303.69,0.6250,10000,6250.0,128.0
1,Kotak Mah. Bank,1771.1,21.57,351997.46,3.15,2.56,14.24,13.14,25.94,31.17,...,4.52,3,1710.44,2142.04,6312.63,256.42,0.1875,10000,1875.0,1.0
2,HDFC Bank,1574.7,18.00,1191486.25,3.04,1.98,17.11,13.14,0.00,21.88,...,5.63,1,1635.07,2528.21,5359.46,240.35,0.0625,10000,625.0,0.0
3,Federal Bank,143.8,9.91,33785.15,1.38,1.30,15.29,13.14,0.00,10.19,...,11.08,1,181.61,233.06,353.89,146.10,0.0625,10000,625.0,4.0
4,ICICI Bank,968.7,18.19,678146.20,3.15,1.91,17.15,13.14,0.00,22.56,...,5.44,1,1046.09,2466.81,2368.98,144.55,0.0625,10000,625.0,1.0

**SERIES B**

In [26]:
series_B = final_df.iloc[5:10,:]
series_B

,Name,LTP,PE,MKT_cap,PB,ROA,ROE,Ind PE,PROMOTER,3Yrs_PE,...,3Yrs_return_%,5Yrs_return_%,Opert_Prft_Gwth %,Target_one,Adjusted_return_to_shareholder,Flexibilty,Target_two,Target_three,Final_Target,Expectation%
5,Equitas Sma. Fin,88.80,14.84,9912.59,1.91,1.85,12.20,13.14,0.00,17.66,...,NaN,NaN,45.21,3138.19,6.39,1,96.28,146.17,214.73,141.81
6,IDBI Bank,60.05,15.50,64568.18,1.39,1.18,8.34,13.14,94.71,19.78,...,15.33,0.10,39.41,2027.29,6.00,10,68.52,94.90,139.91,132.99
7,Suryoday Small,176.20,15.91,1870.55,1.18,0.86,5.03,13.14,23.30,22.44,...,NaN,NaN,115.82,-1136.49,4.26,3,207.60,431.08,363.96,106.56
8,RBL Bank,238.05,14.75,14299.32,1.05,0.80,6.74,13.14,0.00,14.13,...,7.28,-17.10,43.38,3913.54,6.42,1,360.92,386.92,471.84,98.21
9,Axis Bank,991.15,13.38,305363.53,2.35,1.43,14.54,13.14,8.19,18.91,...,27.79,9.08,48.15,15115.04,6.19,2,1098.64,1664.57,1930.09,94.73

In [32]:
series_B['Allocation'] = series_B['Flexibilty']/sum(series_B['Flexibilty'])
series_B['Corpus'] = 8000
series_B['Invested_Amount'] = round(series_B['Allocation']*series_B['Corpus'],2)
series_B['Allocated-Shares'] = round(series_B['Invested_Amount']/series_B['LTP'],0)

/tmp/ipykernel_32/3318084474.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series_B['Allocation'] = series_B['Flexibilty']/sum(series_B['Flexibilty'])
/tmp/ipykernel_32/3318084474.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series_B['Corpus'] = 8000
/tmp/ipykernel_32/3318084474.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series_B['Invested_Amount'] = round(series_B['Allocation']*series_B['Corpus'],2)
/tmp/ipykernel_32/3318084474.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series_B['Allocated-Shares'] = round(series_B['Invested_Amount']/series_B['LTP'],0)

In [33]:
series_B

,Name,LTP,PE,MKT_cap,PB,ROA,ROE,Ind PE,PROMOTER,3Yrs_PE,...,Adjusted_return_to_shareholder,Flexibilty,Target_two,Target_three,Final_Target,Expectation%,Allocation,Corpus,Invested_Amount,Allocated-Shares
5,Equitas Sma. Fin,88.80,14.84,9912.59,1.91,1.85,12.20,13.14,0.00,17.66,...,6.39,1,96.28,146.17,214.73,141.81,0.058824,8000,470.59,5.0
6,IDBI Bank,60.05,15.50,64568.18,1.39,1.18,8.34,13.14,94.71,19.78,...,6.00,10,68.52,94.90,139.91,132.99,0.588235,8000,4705.88,78.0
7,Suryoday Small,176.20,15.91,1870.55,1.18,0.86,5.03,13.14,23.30,22.44,...,4.26,3,207.60,431.08,363.96,106.56,0.176471,8000,1411.76,8.0
8,RBL Bank,238.05,14.75,14299.32,1.05,0.80,6.74,13.14,0.00,14.13,...,6.42,1,360.92,386.92,471.84,98.21,0.058824,8000,470.59,2.0
9,Axis Bank,991.15,13.38,305363.53,2.35,1.43,14.54,13.14,8.19,18.91,...,6.19,2,1098.64,1664.57,1930.09,94.73,0.117647,8000,941.18,1.0

**SERIES C**

In [34]:
series_C = final_df.iloc[10:15,:]
series_C

,Name,LTP,PE,MKT_cap,PB,ROA,ROE,Ind PE,PROMOTER,3Yrs_PE,...,3Yrs_return_%,5Yrs_return_%,Opert_Prft_Gwth %,Target_one,Adjusted_return_to_shareholder,Flexibilty,Target_two,Target_three,Final_Target,Expectation%
10,Karnataka Bank,218.10,4.75,6820.90,0.83,1.24,15.42,13.14,0.00,4.50,...,67.57,15.69,37.47,2820.03,18.58,1,388.37,339.88,407.94,87.04
11,South Ind.Bank,23.25,5.64,4865.62,0.73,0.75,12.37,13.14,0.00,10.97,...,47.13,6.78,34.11,271.56,16.95,1,34.23,35.35,41.12,76.86
12,City Union Bank,125.60,9.90,9299.63,1.25,1.46,13.35,13.14,0.00,16.28,...,-4.74,-7.75,23.38,2146.50,10.68,1,139.83,175.67,220.46,75.53
13,IndusInd Bank,1416.55,13.90,109985.89,2.30,1.84,15.49,13.14,15.88,17.20,...,30.88,-5.26,47.81,8740.11,6.73,3,1649.85,2373.53,2442.23,72.41
14,IDFC First Bank,93.40,22.69,61974.27,2.39,1.16,10.59,13.14,39.93,23.14,...,43.29,15.75,56.25,67.25,4.43,3,126.08,165.43,158.06,69.23

In [35]:
series_C['Allocation'] = series_C['Flexibilty']/sum(series_C['Flexibilty'])
series_C['Corpus'] = 6000
series_C['Invested_Amount'] = round(series_C['Allocation']*series_C['Corpus'],2)
series_C['Allocated-Shares'] = round(series_C['Invested_Amount']/series_C['LTP'],0)

/tmp/ipykernel_32/3890570985.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series_C['Allocation'] = series_C['Flexibilty']/sum(series_C['Flexibilty'])
/tmp/ipykernel_32/3890570985.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series_C['Corpus'] = 6000
/tmp/ipykernel_32/3890570985.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series_C['Invested_Amount'] = round(series_C['Allocation']*series_C['Corpus'],2)
/tmp/ipykernel_32/3890570985.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series_C['Allocated-Shares'] = round(series_C['Invested_Amount']/series_C['LTP'],0)

In [36]:
series_C

,Name,LTP,PE,MKT_cap,PB,ROA,ROE,Ind PE,PROMOTER,3Yrs_PE,...,Adjusted_return_to_shareholder,Flexibilty,Target_two,Target_three,Final_Target,Expectation%,Allocation,Corpus,Invested_Amount,Allocated-Shares
10,Karnataka Bank,218.10,4.75,6820.90,0.83,1.24,15.42,13.14,0.00,4.50,...,18.58,1,388.37,339.88,407.94,87.04,0.111111,6000,666.67,3.0
11,South Ind.Bank,23.25,5.64,4865.62,0.73,0.75,12.37,13.14,0.00,10.97,...,16.95,1,34.23,35.35,41.12,76.86,0.111111,6000,666.67,29.0
12,City Union Bank,125.60,9.90,9299.63,1.25,1.46,13.35,13.14,0.00,16.28,...,10.68,1,139.83,175.67,220.46,75.53,0.111111,6000,666.67,5.0
13,IndusInd Bank,1416.55,13.90,109985.89,2.30,1.84,15.49,13.14,15.88,17.20,...,6.73,3,1649.85,2373.53,2442.23,72.41,0.333333,6000,2000.00,1.0
14,IDFC First Bank,93.40,22.69,61974.27,2.39,1.16,10.59,13.14,39.93,23.14,...,4.43,3,126.08,165.43,158.06,69.23,0.333333,6000,2000.00,21.0

In [37]:
from datetime import date
series_A['Date'] = date.today()
series_B['Date'] = date.today()
series_C['Date'] = date.today()

/tmp/ipykernel_32/3921247814.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series_A['Date'] = date.today()
/tmp/ipykernel_32/3921247814.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series_B['Date'] = date.today()
/tmp/ipykernel_32/3921247814.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series_C['Date'] = date.today()

In [38]:
series_A

,Name,LTP,PE,MKT_cap,PB,ROA,ROE,Ind PE,PROMOTER,3Yrs_PE,...,Flexibilty,Target_two,Target_three,Final_Target,Expectation%,Allocation,Corpus,Invested_Amount,Allocated-Shares,Date
0,Ujjivan Small,48.8,7.81,9540.65,2.38,3.87,31.39,13.14,73.67,16.58,...,10,77.30,205.93,197.00,303.69,0.6250,10000,6250.0,128.0,2023-09-03
1,Kotak Mah. Bank,1771.1,21.57,351997.46,3.15,2.56,14.24,13.14,25.94,31.17,...,3,1710.44,2142.04,6312.63,256.42,0.1875,10000,1875.0,1.0,2023-09-03
2,HDFC Bank,1574.7,18.00,1191486.25,3.04,1.98,17.11,13.14,0.00,21.88,...,1,1635.07,2528.21,5359.46,240.35,0.0625,10000,625.0,0.0,2023-09-03
3,Federal Bank,143.8,9.91,33785.15,1.38,1.30,15.29,13.14,0.00,10.19,...,1,181.61,233.06,353.89,146.10,0.0625,10000,625.0,4.0,2023-09-03
4,ICICI Bank,968.7,18.19,678146.20,3.15,1.91,17.15,13.14,0.00,22.56,...,1,1046.09,2466.81,2368.98,144.55,0.0625,10000,625.0,1.0,2023-09-03

In [39]:
series_A.to_excel("Master_Series_A.xlsx",index=False)
series_B.to_excel("Master_Series_B.xlsx",index=False)
series_C.to_excel("Master_Series_C.xlsx",index=False)